In [1]:
import json
import pandas as pd
import numpy as np
import glob

***CARGA DE ARCHIVOS CSV***

CARGA DE ARCHIVO .CSV EN GOOGLE COLAB (REMOTO)

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [ ]:
#Convertir a dataframe
df_csv_colab= pd.read_csv("Ventas_totales.csv")
df_csv_colab

CARGA DE ARCHIVO .CSV EN VISUAL STUDIO CODE (LOCAL)

In [ ]:
#Convertir a dataframe
df_csv_visual= pd.read_csv("Ventas_totales.csv")
df_csv_visual

***CARGA DE ARCHIVOS XLSX***

CARGA DE ARCHIVO .XLSX EN GOOGLE COLAB (REMOTO)

In [ ]:
#Cargar archivo xlsx desde equipo
from google.colab import files
files.upload()

In [ ]:
#Carga desde un archivo .xlsx sin indice
df_xlsx_colab= pd.read_excel('Antigüedad de saldos 17.03.2023.xlsx')
df_xlsx_colab

CARGA DE ARCHIVO .XLSX EN VISUAL STUDIO CODE (LOCAL)

In [ ]:
#Carga desde un archivo .xlsx sin indice
df_xlsx_visual= pd.read_excel('Antigüedad de saldos 17.03.2023.xlsx')
df_xlsx_visual

***Análisis exploratorio del dataframe***

In [ ]:
#Verificamos información del DataFrame
df_xlsx_visual.info()

In [ ]:
#Imprimo los primeros 5 registro del dataframe
df_xlsx_visual.head()

In [ ]:
#Extracción por columnas
data=df_xlsx_visual.iloc[ : , 1:3]       #Columnas consecutivas 00
#data=df_xlsx_visual.iloc[ : , [1,4,5]]  #Columnas no consecutivas 
data

In [ ]:
#Convertir archivo filtrado a CSV
data.to_csv("Entregable1.csv")

In [ ]:
#descardar archivo filtrado en csv
from google.colab import files 
  
  
files.download("Entregable1.csv")

***CARGA DE ARCHIVOS .JSON EN VISUAL STUDIO (LOCAL)***

In [ ]:
# Lee el archivo JSON directamente
data_json = pd.read_json('data-nl-2015.json')

In [ ]:
# Muestra el contenido
data_json

In [ ]:
# Lee un archivo JSON que requiere preprocesamiento
data_001 = pd.read_json('001.json')

In [9]:
# Cargar el archivo JSON manualmente
with open('001.json') as f:
    data_001 = json.load(f)

In [10]:
# Muestra el contenido
data_001

{'listing_id': 2390109,
 'id': 22208895,
 'date': '2014-11-01',
 'reviewer_id': 4358294,
 'reviewer_name': 'Inessa',
 'text': 'I had a great time staying here! The room is huge and sunny, and it was the perfect place to do some work and hang out in the afternoon before heading out to dinner. Alexandra and David were very welcoming hosts. They were always around to answer any questions. They had breakfast and coffee for me every morning and even left it on the table by the door on mornings when I had to rush out to the office.  The cats were really cute too!',
 'title': 'ENTIRE FLOOR! Business travel & fun',
 'host_id': 2665483,
 'listing_latitude': 30.2962457933164,
 'listing_longitude': -97.75013113693174,
 'host_name': 'Alexandra'}

In [ ]:
# Proporcionar un índice
df1 = pd.DataFrame(data_001, index=[0])
df1

***Crear un archivo CSV con varios archivos json***

In [ ]:
# Obtener todos los archivos JSON de la carpeta
json_files = glob.glob('archivos json/airbnb/*.json')
json_files

In [18]:
# Crear una lista para almacenar los DataFrames
dfs = []
dfs

[]

In [19]:
# Leer cada archivo JSON
for file in json_files:
    # Abrir el archivo JSON y cargarlo
    with open(file, 'r', encoding= 'utf8') as f:
        data = json.load(f)
    # Si los datos son un solo diccionario, envolverlos en una lista
    if isinstance(data, dict):
        data = [data]
    # Convertir los datos en un DataFrame y agregarlo a la lista
    df = pd.DataFrame(data)
    dfs.append(df)

In [22]:
# Concatenar todos los DataFrames en uno solo
final_df = pd.concat(dfs, ignore_index=True)
final_df

,listing_id,id,date,reviewer_id,reviewer_name,text,title,host_id,listing_latitude,listing_longitude,host_name
0,2390109,22208895,2014-11-01,4358294,Inessa,I had a great time staying here! The room is h...,ENTIRE FLOOR! Business travel & fun,2665483,30.296246,-97.750131,Alexandra
1,2390109,22619785,2014-11-10,12361335,Colibri,What a wonderful space in a beautiful & quiet ...,ENTIRE FLOOR! Business travel & fun,2665483,30.296246,-97.750131,Alexandra
2,2390109,23234873,2014-11-25,6359216,Giuseppe,The reservation was canceled 107 days before a...,ENTIRE FLOOR! Business travel & fun,2665483,30.296246,-97.750131,Alexandra
3,2390109,23338508,2014-11-29,23638127,Sophia,When I saw the posting and how clean and simpl...,ENTIRE FLOOR! Business travel & fun,2665483,30.296246,-97.750131,Alexandra
4,2390109,24989361,2015-01-04,3088100,Taylor,This is one of the first times we've been hesi...,ENTIRE FLOOR! Business travel & fun,2665483,30.296246,-97.750131,Alexandra
...,...,...,...,...,...,...,...,...,...,...,...
994,347802,27129990,2015-02-26,9049895,Sommer,The bungalow was great. Perfect location. It h...,Hyde Park Bungalow close to UT & DT,1594787,30.302295,-97.728150,Ananda & Dunstan
995,347802,27508212,2015-03-06,6628407,Jeffrey,Ananda and Dustan communicated very well throu...,Hyde Park Bungalow close to UT & DT,1594787,30.302295,-97.728150,Ananda & Dunstan
996,347802,27760991,2015-03-11,26351650,Daria,Our family of 4 enjoyed 5 nights at Ananda and...,Hyde Park Bungalow close to UT & DT,1594787,30.302295,-97.728150,Ananda & Dunstan
997,347802,28872746,2015-03-31,3814076,Deborah,Responded immediately to messages. Stopped by ...,Hyde Park Bungalow close to UT & DT,1594787,30.302295,-97.728150,Ananda & Dunstan
998,347802,29270181,2015-04-06,2884496,Kim,Lovely home and terrific location!\r\nWe loved...,Hyde Park Bungalow close to UT & DT,1594787,30.302295,-97.728150,Ananda & Dunstan